{% extends "students/base.html" %}
{% load static %}
{% block body %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{% static 'images/homeimage.png' %}" alt="First slide">
      </div>
      
    </div>
    
    <a type="button" class="btn btn-primary m-3" href="{% url 'index'%}">View Student</a>
    
  </div>

  {% endblock body %}